.tb-adminwrapper {
    .col-xl-12.justify-content-center {
        margin-top: auto;
    }
}
.tb-footer-wrap {
    padding: 10px 0;
    border-top: 1px solid #eee;
}
.tb-copyright {
    text-align: left;
    p {
        margin: 0;
        line-height: em(30, 14);
    }
}
